.button {
  height: 48px;
  width: 290px;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  color: #fff;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  padding: 0;
}
