.footer-logo {
  display: flex;
  flex-direction: column;
  &__image {
    margin: 40px auto 20px auto;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin: auto;
    line-height: 25px;
    font-size: 20px;
    font-weight: 700;
    color: $color-dark;
  }
  &__description {
    margin: 0 auto 31px;
    line-height: 25px;
    font-size: 18px;
    color: $color-dark;
    opacity: 0.6;
  }
}

.footer__description {
  display: none;
}

.downloads {
  display: flex;
  justify-content: center;
  &__item {
    margin-right: 10px;
    margin-bottom: 40px;
  }
  &__hr {
    color: #e3e3e3;
  }
}

.nav-links {
  &__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-block-start: 30px;
    margin-inline-start: 15px;
    color: $color-dark;
  }
  &__list {
    margin-block-start: 18px;
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    color: $color-dark;
    opacity: 0.6;
  }
}

.terms {
  margin: 30px 15px;
  &__items {
    text-decoration: none;
    color: $color-dark;
    font-size: 14px;
    line-height: 22px;
    padding-right: 12px;
  }
}

.social-links {
  margin: 31px 0 22px 15px;
  &__item {
    padding-right: 14px;
  }
}

@media (min-width: 400px) {
  .footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    &__description {
      display: block;
      line-height: 26px;
      font-size: 18px;
      width: 360px;
      margin-top: 26px;
      color: $color-dark;
      opacity: 0.6;
    }
    &__line {
      border-top: 1px solid $color-dark;
      width: 100%;
      opacity: 0.1;
      margin: 0;
    }
  }
  .footer-logo {
    flex-direction: row;
    &__name {
      margin-left: 0;
    }
    &__image {
      margin: 0;
    }
    &__description {
      margin: 0;
      font-size: 16px;
    }
  }
  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
  }

  .about-company {
    padding-top: 44px;
  }

  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    &__column:first-child {
      margin-right: 29px;
    }
  }

  .nav-links {
    width: 265px;
    &__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      color: $color-dark;
      margin: 0;
    }
    &__list {
      list-style-type: none;
      font-size: 18px;
      line-height: 30px;
      padding: 0;
      margin: 0;
      margin-top: 18px;
    }
  }

  .downloads {
    display: block;
    margin-top: 25px;
    &__hr {
      display: none;
    }

    &__item:first-child {
      margin-right: 10px;
    }
  }

  .terms {
    line-height: 50px;
    font-size: 14px;
    &__items {
      margin-right: 22px;
    }
  }

  .social-links {
    display: block;
    margin: 0;
    margin-left: auto;
    &__item {
      margin-left: 20px;
      padding-right: 0;
    }
  }
}
