.headline {
  width: 100%;
}

.headline__content {
  margin: 35px 15px 33px 15px;
}
.headline__banner {
  width: 100%;
  margin-bottom: 33px;
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}

.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.headline__actions {
  margin-top: 30px;
}
.learn-more__button {
  background-color: $white-color;
  color: $bright-blue-color;
  width: 100%;
  margin-top: 10px;
}
.getstarted__button {
  width: 100%;
}

@media (min-width: 400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
    &__banner {
      position: relative;
      top: 0;
      right: -105px;
      width: 796px;
      height: 448px;
      margin-left: auto;
    }
    &__content {
      position: absolute;
      z-index: 1;
    }
    &__title {
      width: 754px;
      height: 165px;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      z-index: 1;
      margin: 0;
    }
    &__description {
      margin-top: 34px;
      width: 456px;
      height: 102px;
      font-size: 24px;
      line-height: 34px;
      z-index: 1;
    }
    &__actions {
      margin-top: 58px;
      display: flex;
    }
  }
  .learn-more__button {
    margin-top: 0px;
    margin-left: 10px;
    width: 160px;
  }
  .getstarted__button {
    width: 160px;
    margin: 0;
  }
}
