@import 'variables';
@import 'common';
@import 'header';
@import 'footer';
@import 'headline';
@import 'order';
@import 'audience';


* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}


