$color-light: #f4f5f7;
$border-color: #2b292d33;
$color-dark: #2b292d;
$text-color-blue: #3142c6;
$bright-blue-color: #3040c4;
$cyan-color: #3141C5;
$text-color-light-gray: #2b292d99;
$white-color: #fff;
$light-blue-color: #00a1c612;
