*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.spinner-text{
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
.rect{
    position: relative;
    width: 10px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    animation: moving 2s alternate, blinking 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}