*{
    box-sizing: border-box;
}
td{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    /* border-collapse: collapse; */
}
table{
    border-collapse: collapse; 
    border: 1px solid black;
    margin: 16px;
}
 tr:nth-child(even)>td:nth-child(odd), tr:nth-child(odd)>td:nth-child(even){
    background-color: black;
}
td:nth-child(1), td:nth-child(10), tr:first-child > td, tr:last-child > td{
    border: 0px;
    background-color: white !important;
}
