.footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
  }
  .footer__description {
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: #2b292d;
    opacity: 0.6;
  }
  
  .about-company {
    padding-top: 44px;
  }
  
  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
  }
  
  .additional-navigation__column:first-child {
    margin-right: 29px;
  }
  
  .nav-links {
    width: 265px;
  }
  
  .nav-links__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0;
  }
  
  .nav-links__list {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
  
  .downloads {
    margin-top: 25px;
  }
  
  .downloads__item:first-child {
    margin-right: 10px;
  }
  
  .footer__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    opacity: 0.1;
    margin: 0;
  }
  
  .footer-links {
   display: none;
  }
  
  .terms {
    line-height: 50px;
    font-size: 14px;
  }
  
  .terms__items {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 22px;
  }
 
  .social-links {
    display: none;
  }

  .social-links__item {
    margin-left: 20px;
  }



  @media (min-width: 400px){
    .social-links {
      display: block;
      margin-left: auto;
    }
    .footer-links {
      width: 1140px;
      height: 50px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  }