.footer-logo {
  display: flex;
  flex-direction: column;
}
.footer-logo__image {
  margin: 40px auto 20px auto;
}
.footer-logo__text {
  display: flex;
  flex-direction: column;
}
.footer-logo__name {
  margin: auto;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #2b292d;
}
.footer-logo__description {
  margin: 0 auto 31px;
  line-height: 25px;
  font-size: 18px;
  color: #2b292d;
  opacity: 0.6;
}
.footer__description {
  display: none;
}
.downloads {
  display: flex;
  justify-content: center;
}
.downloads__item {
  margin-right: 10px;
  margin-bottom: 40px;
}
.downloads__hr {
  color: #e3e3e3;
}
.nav-links__title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-block-start: 30px;
  margin-inline-start: 15px;
  color: #2b292d;
}
.nav-links__list {
  margin-block-start: 18px;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  color: #2b292d;
  opacity: 0.6;
}
.terms {
  margin: 30px 15px;
}
.terms__items {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  line-height: 22px;
  padding-right: 12px;
}
.social-links {
  margin: 31px 0 22px 15px;
}
.social-links__item {
  padding-right: 14px;
}

@media (min-width: 400px) {
  .footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    /* display: flex; */
    flex-direction: row;
  }
  .footer-logo__image {
    margin: auto auto auto 130px;
  }

  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
  }
  .footer__description {
    display: block;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: #2b292d;
    opacity: 0.6;
  }

  .about-company {
    padding-top: 44px;
  }

  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
  }

  .additional-navigation__column:first-child {
    margin-right: 29px;
  }

  .nav-links {
    width: 265px;
  }

  .nav-links__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0;
  }

  .nav-links__list {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }

  .downloads {
    margin-top: 25px;
  }

  .downloads__item:first-child {
    margin-right: 10px;
  }

  .footer__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    opacity: 0.1;
    margin: 0;
  }

  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .terms {
    line-height: 50px;
    font-size: 14px;
  }

  .terms__items {
    margin-right: 22px;
  }

  .social-links {
    display: block;
    margin-left: auto;
  }

  .social-links__item {
    margin-left: 20px;
  }
}
