/* .page {
  min-width: 320px;
  background-color: #f3c6bd;
} */
.header {
  display: flex;
  height: 64px;
  width: 100%;
  background-color: #fff;
}
.navigation {
  display: none;
}

.top-section {
  background-color: #f3c6bd;
}

.action__button {
  display: none;
}

.navigation__item {
  color: #2b292d;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0px;
}
.nav-list__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
}
svg {
  width: 53px;
  height: 53px;
}
.header__menu-button{
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
.header__menu-icon{
  width: 18px;
  height: 13px;
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
  display: inline-block;
}

.logo {
  display: flex;
}
.logo__image {
  margin: 6px 13px 7px 15px ;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__description {
  display: none;
}

@media (min-width: 400px) {
  .page {
    width: 1400px;
    height: 710px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
  .header {
    background-color: #f3c6bd;
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
  }
  .header__menu-button{
    display: none;
  }
  .action__button {
    display: block;
    height: 48px;
    width: 160px;
    font-size: 18px;
    font-weight: 700;
    background-color: #3040c4;
    color: #fff;
    border-radius: 2px;
    border: none;
  }
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
  svg {
    width: 66px;
    height: 66px;
  }
}
