.header{
height: 50px;
background-color: yellow;
}
.footer{
height: 50px;
background-color: green;
clear: both;
}
.content{
    width: 80%;
    background-color: pink;
    height: 500px;
    float: left;
}
.sidebar{
    width: 20%;
    background-color: gray;
    height: 500px;
    float: right;
}