* {
  box-sizing: border-box;
}
span {
  font-family: Verdana, sans-serif;
  background-color: #faebd7;
  border-radius: 4px;
  padding: 8px;
  margin: auto;
}
.container__Inner-navigation,
.container__Inner-product,
.container__news {
  min-height: 200px;
  display: flex;
  flex-grow: 1;
}

.container__Inner-navigation {
  background-color: #ff7f50;
}
.container__Inner-products {
  background-color: #006400;
}
.container__news {
  background-color: #0ff;
}

@media screen and (min-width: 600px) {
  .container__Inner {
    display: flex;
  }
}
@media screen and (min-width: 900px) {
    .container {
    display: flex;
    }
    .container__Inner{
        flex-grow: 2;
    }
}
