@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  height: 100px;
  width: 100px;
  margin: 8px;
  // background-color: #ff7f50;

  @include for-extra-small {
    background-color: #ff7f50;
  }
  @include for-small {
    background-color: #8a2be2;
  }
  @include for-medium-up {
    background-color: #a61;
  }
  @include for-large {
    background-color: #c47;
  }
}

.container {
  @include horizontal {
    display: flex;
  }
  @include vertical {
    display: block;
  }
}
