* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.square {
  height: 100px;
  width: 100px;
  margin: 8px;
  background-color: #ff7f50;
}

@media (min-width: 600px) {
  .square {
    background-color: #8a2be2;
  }
}
@media (orientation: portrait) {
  .container {
  flex-direction: column;
  }
}
