* {
    box-sizing: border-box;
  }
  .image-container {
    position: relative;
  }
  
  .image {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .image-button {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    text-align: center;
    line-height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    cursor: pointer;
  }
  .image-button:hover {
    opacity: 1;
  }