*{
    font-family: Verdana, sans-serif;
}
h1{
    font-size: 74px;
    width: 50%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}
div{
    height: 200px;
    background-color: coral;
    text-align: center;
    color: white;
    text-transform: uppercase;
    line-height: 200px;
}