* {
    box-sizing: border-box;
  }
div{
    width: 300px;
    height: 500px;
    background-image: url(https://github.com/vvspl/MyProjects/blob/master/Lesson13/Task1/nature.jpeg);
    background-position: center;
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 32px;
    background-size: cover;
}